body{
	background-color: #990000;
	background-image: url(fundoum.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

h1{
	font-family: Aria ;
	font-size:  100px;
	color:yellow;
	background: blue;
	border-radius: 10px;

}
p{
	background-color: #00ffff;
	font-size:30px;
	border-radius:20px;
}